[project]
	description = dhcp prefix colour ietf work
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Shwetha (shwethab)
[access "refs/for/refs/*"]
	read = group user/Shwetha (shwethab)
	push = group user/Shwetha (shwethab)
	label-Code-Review = -2..+2 group user/Shwetha (shwethab)
	label-Verified = -1..+1 group user/Shwetha (shwethab)
	rebase = group user/Shwetha (shwethab)
	removeReviewer = group user/Shwetha (shwethab)
	submit = group user/Shwetha (shwethab)
[access "refs/heads/*"]
	read = group user/Shwetha (shwethab)
	create = group user/Shwetha (shwethab)
	push = +force group user/Shwetha (shwethab)
	pushMerge = group user/Shwetha (shwethab)
[access "refs/tags/*"]
	push = +force group user/Shwetha (shwethab)
	pushTag = group user/Shwetha (shwethab)
	pushSignedTag = group user/Shwetha (shwethab)
